
###> symfony/framework-bundle ###
/backend/backend/backend/.env.local
/backend/.env.dev
/backend/.env.local
/backend/.env.local.php
/backend/.env.test
/backend/.env.test.local
/backend/.env.*.local
/backend/config/secrets/prod/prod.decrypt.private.php
/backend/public/bundles/
/backend/var/
/backend/vendor/
/backend/phpunit.xml
/backend/.phpunit.cache/
###< symfony/framework-bundle ###
